.App {
  text-align: center;
  height: 100vh;
}
nav {
  display: none;
}
.sidebar{
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0%;
  background: deepskyblue;
}
.sidebar .content{
  color: white;
  display:block;
  position:absolute;
  left:0;
  right:0;
  top: 50%;
  margin:auto;
}
.sidebar img{
  width: 30%;
  height: auto;
}
.survey{
  height: 100%;
  width: 80%;
  left: 20%;
  position: absolute;
}
#conversational-form {
  background: lightblue;
}
.hide-nav-buttons{
  padding-top: 0;
  padding-bottom: 0;
}
.one-row{
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-chat{
  overflow: hidden;
}
p.show{
    background: #e8e9eb;
    color: black;
}
